.clock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: -30%;

    transition: 0.3s;
    transition-property: border, box-shadow;
}

.clock h1 {
    font-size:2em;
    font-weight: 600;
    color: #25cdc8;
    letter-spacing: 3px;

    text-align: center;
}

.clock h2 {
    margin-top: -3%;

    font-size:1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #25cdc8;
    text-align: center;
}