@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  margin-top: 1%;
  margin-left: 1%;

  width: 100vw;
  height: 100vh;

  background-color: white;
}