.no-transactions {
    margin-top: 5%;
    color: #cdb4db;
}

.transaction-history-container{
    margin-left: -5%;
    width: 40vw;
    height: 45vh;
    overflow-y: scroll;
}

.transaction-history-container::-webkit-scrollbar {
   width: 8px;
}

.transaction-history-container::-webkit-scrollbar-track {
    background: #efdaff;
    border-radius: 10px;
}

.transaction-history-container::-webkit-scrollbar-thumb {
    background: #c39aff;
    border-radius: 10px;
  }

ul {
    border-radius: 10px;
    text-align: left;
    list-style-position: inside;
}

.transaction-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    
    width: 90%;
    margin: 1%;
    padding: 1.5%;

    list-style: none;
    
    font-size: 1rem;
    /* background-color: #adc178; */
    border-radius: 10px;

}

.transaction-list li:hover {
    background-color: #f2d7ff;
}

.transaction-list li button {
    transform: translateX(3rem);
    font-size: 1.5em;
    color: black;
    background-color: transparent;
    border: none;
    /* border-radius:30px; */
    /* border-color: black; */
    cursor: pointer;
}

.transaction-list li button:hover {
    color: #c39aff;
}